*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #274046;

}
#nav {
    background-color: #1E1F26;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky; 
    top: 0;
}
#nav #logo {
    display: flex;
    align-items: center;
}
#nav #logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 15px;
    transition: transform 0.3s ease;
}

#nav #logo img:hover {
    transform: scale(1.1);
}

#nav #logo h1 {
    font-size: 28px;
    color: white;
    margin: 0;
    font-weight: bold;
}
#nav-links {
    display: flex;
    align-items: center;
}
#nav-links ul {
    display: flex;
    list-style: none;
}

#nav-links ul li {
    margin-right: 20px;
}

#nav-links a {
    text-decoration: none;
    color: White;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    padding: 4px 8px;
    
}
#nav-links a:hover {
    color: whitesmoke; 
    border-bottom: 1px solid white;
    padding-bottom: 2px;
}
#box{
    height: 150px;
    width: auto;
    background-color: #e6dada;
    padding: 10px;
    margin: 20px 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#box #details img {
    height: 100px;
    width: 100px; 
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); 
    background-color: #E0F2F1;
    margin: auto;
}
#details{
    display: flex;
    justify-content: space-between;
}
#box #details h3{
    margin: 40px ;
    padding:0px 20px;
}
#box #details h4{
    font-size: 18px;
    margin: 40px 200px ;
    width: 200px;
}
#box #details h5{
    font-size: 18px;
    margin: 40px 150px ;
}
#box #details button{
    background-color: rgb(238, 112, 112);
    color: white;
    padding: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 40px 100px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

#totalPrice {
    background-color: #1E1F26;
    color: #FFCC33;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
}

/* ---------------------------------------------------------------------------- */

#startshop{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#startshop h1{
    color: #e6dada;
    font-size: 50px;
}
#startshop h2 a{
    color: rgb(11, 148, 239);
    /* text-decoration: none; */
    font-size: 30px;
}


